<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602339942853-9gmf4sbm3ta2k9b19r8r3pre8h55tdln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602339942853-9gmf4sbm3ta2k9b19r8r3pre8h55tdln</string>
	<key>API_KEY</key>
	<string>AIzaSyA50BTfibv_U7ZNbhgc1jDP_aleEkeAlGc</string>
	<key>GCM_SENDER_ID</key>
	<string>602339942853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>cms-cp-application</string>
	<key>STORAGE_BUCKET</key>
	<string>cms-cp-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602339942853:ios:391d209e3ce2ea91706bac</string>
</dict>
</plist>